langchain
langchain-core
langchain-groq
langchain-community
langchain-huggingface
langchain-tavily
langchain-text-splitters
langgraph
faiss-cpu
sentence-transformers
playwright
python-dotenv
wikipedia
duckduckgo-search
